@model CoasterCredits.Models.Park

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Park</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkLatitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkLatitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkLongitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkLongitude)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ParkID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
