@model IEnumerable<CoasterCredits.Models.Park>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ParkName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkLatitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkLongitude)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkLongitude)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
