@model CoasterCredits.Models.Coaster

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CoasterName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterManufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterManufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterHeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterHeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterLength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterSpeed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterSpeed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterInversions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterInversions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoasterPark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoasterPark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CoasterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
