@model IEnumerable<CoasterCredits.Models.Coaster>

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{
    <h2>Logged in as @User.Identity.Name</h2>
}
else
{
    <h2>Not Logged In</h2>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Coaster
            </th>
            <th>
                Park
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Current Status
            </th>
            <th>
                Type
            </th>
            <th>
                Style
            </th>
            <th>
                Height
            </th>
            <th>
                Length
            </th>
            <th>
                Speed
            </th>
            <th>
                Inversions
            </th>
            <th>                    
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterPark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterManufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterHeight) ft
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterLength) ft
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterSpeed) mph
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoasterInversions)
            </td>
            <td>
                <a asp-action="AddCredit" asp-route-id="@item.CoasterID">Add Credit</a> |
                <a asp-action="Edit" asp-route-id="@item.CoasterID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoasterID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoasterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
